# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct t-tests and an ANOVA on a real-world dataset and interpret the results

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [69]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [70]:
df = pd.read_csv('multipleChoiceResponses_cleaned.csv')

In [71]:
df.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26394 entries, 0 to 26393
Columns: 230 entries, GenderSelect to AdjustedCompensation
dtypes: float64(15), object(215)
memory usage: 46.3+ MB

In [73]:
df.describe()

,LearningCategorySelftTaught,LearningCategoryOnlineCourses,LearningCategoryWork,LearningCategoryUniversity,LearningCategoryKaggle,LearningCategoryOther,TimeGatheringData,TimeModelBuilding,TimeProduction,TimeVisualizing,TimeFindingInsights,TimeOtherSelect,CompensationAmount,exchangeRate,AdjustedCompensation
count,16236.000000,16253.000000,16238.000000,16249.000000,16253.000000,16221.000000,10657.000000,10655.000000,10644.000000,10656.000000,10650.000000,10640.000000,5.178000e+03,4499.000000,4.343000e+03
mean,33.596945,25.814680,13.760184,21.133270,4.467212,1.449728,35.680304,27.455279,10.007657,13.639968,9.249953,2.254041,4.129494e+07,0.703416,6.636071e+06
std,23.781350,24.558786,17.845975,23.784604,10.186693,8.437395,19.364950,17.450835,10.458430,9.947624,12.429025,10.302431,1.965335e+09,0.486681,4.293996e+08
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.900000e+01,0.000030,-7.351631e+01
25%,20.000000,10.000000,0.000000,0.000000,0.000000,0.000000,25.000000,15.000000,5.000000,10.000000,0.000000,0.000000,5.000000e+04,0.058444,2.036942e+04
50%,30.000000,20.000000,10.000000,15.000000,0.000000,0.000000,30.000000,30.000000,10.000000,10.000000,5.000000,0.000000,9.000000e+04,1.000000,5.381217e+04
75%,50.000000,35.000000,20.000000,40.000000,5.000000,0.000000,50.000000,40.000000,10.000000,15.000000,15.000000,0.000000,1.900000e+05,1.000000,9.566608e+04
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,303.000000,100.000000,1.000000e+11,2.652053,2.829740e+10

In [74]:
# See what all the columns are (There are a lot!)

for col in df.columns: 
    print(col)

GenderSelect
Country
Age
EmploymentStatus
StudentStatus
LearningDataScience
CodeWriter
CareerSwitcher
CurrentJobTitleSelect
TitleFit
CurrentEmployerType
MLToolNextYearSelect
MLMethodNextYearSelect
LanguageRecommendationSelect
PublicDatasetsSelect
LearningPlatformSelect
LearningPlatformUsefulnessArxiv
LearningPlatformUsefulnessBlogs
LearningPlatformUsefulnessCollege
LearningPlatformUsefulnessCompany
LearningPlatformUsefulnessConferences
LearningPlatformUsefulnessFriends
LearningPlatformUsefulnessKaggle
LearningPlatformUsefulnessNewsletters
LearningPlatformUsefulnessCommunities
LearningPlatformUsefulnessDocumentation
LearningPlatformUsefulnessCourses
LearningPlatformUsefulnessProjects
LearningPlatformUsefulnessPodcasts
LearningPlatformUsefulnessSO
LearningPlatformUsefulnessTextbook
LearningPlatformUsefulnessTradeBook
LearningPlatformUsefulnessTutoring
LearningPlatformUsefulnessYouTube
BlogsPodcastsNewslettersSelect
LearningDataScienceTime
JobSkillImportanceBigData
JobSkillImportanceDegree
JobSkillImportanceStats
JobSkillImportanceEnterpriseTools
JobSkillImportancePython
JobSkillImportanceR
JobSkillImportanceSQL
JobSkillImportanceKaggleRanking
JobSkillImportanceMOOC
JobSkillImportanceVisualizations
JobSkillImportanceOtherSelect1
JobSkillImportanceOtherSelect2
JobSkillImportanceOtherSelect3
CoursePlatformSelect
HardwarePersonalProjectsSelect
TimeSpentStudying
ProveKnowledgeSelect
DataScienceIdentitySelect
FormalEducation
MajorSelect
Tenure
PastJobTitlesSelect
FirstTrainingSelect
LearningCategorySelftTaught
LearningCategoryOnlineCourses
LearningCategoryWork
LearningCategoryUniversity
LearningCategoryKaggle
LearningCategoryOther
MLSkillsSelect
MLTechniquesSelect
ParentsEducation
EmployerIndustry
EmployerSize
EmployerSizeChange
EmployerMLTime
EmployerSearchMethod
UniversityImportance
JobFunctionSelect
WorkHardwareSelect
WorkDataTypeSelect
WorkProductionFrequency
WorkDatasetSize
WorkAlgorithmsSelect
WorkToolsSelect
WorkToolsFrequencyAmazonML
WorkToolsFrequencyAWS
WorkToolsFrequencyAngoss
WorkToolsFrequencyC
WorkToolsFrequencyCloudera
WorkToolsFrequencyDataRobot
WorkToolsFrequencyFlume
WorkToolsFrequencyGCP
WorkToolsFrequencyHadoop
WorkToolsFrequencyIBMCognos
WorkToolsFrequencyIBMSPSSModeler
WorkToolsFrequencyIBMSPSSStatistics
WorkToolsFrequencyIBMWatson
WorkToolsFrequencyImpala
WorkToolsFrequencyJava
WorkToolsFrequencyJulia
WorkToolsFrequencyJupyter
WorkToolsFrequencyKNIMECommercial
WorkToolsFrequencyKNIMEFree
WorkToolsFrequencyMathematica
WorkToolsFrequencyMATLAB
WorkToolsFrequencyAzure
WorkToolsFrequencyExcel
WorkToolsFrequencyMicrosoftRServer
WorkToolsFrequencyMicrosoftSQL
WorkToolsFrequencyMinitab
WorkToolsFrequencyNoSQL
WorkToolsFrequencyOracle
WorkToolsFrequencyOrange
WorkToolsFrequencyPerl
WorkToolsFrequencyPython
WorkToolsFrequencyQlik
WorkToolsFrequencyR
WorkToolsFrequencyRapidMinerCommercial
WorkToolsFrequencyRapidMinerFree
WorkToolsFrequencySalfrod
WorkToolsFrequencySAPBusinessObjects
WorkToolsFrequencySASBase
WorkToolsFrequencySASEnterprise
WorkToolsFrequencySASJMP
WorkToolsFrequencySpark
WorkToolsFrequencySQL
WorkToolsFrequencyStan
WorkToolsFrequencyStatistica
WorkToolsFrequencyTableau
WorkToolsFrequencyTensorFlow
WorkToolsFrequencyTIBCO
WorkToolsFrequencyUnix
WorkToolsFrequencySelect1
WorkToolsFrequencySelect2
WorkFrequencySelect3
WorkMethodsSelect
WorkMethodsFrequencyA/B
WorkMethodsFrequencyAssociationRules
WorkMethodsFrequencyBayesian
WorkMethodsFrequencyCNNs
WorkMethodsFrequencyCollaborativeFiltering
WorkMethodsFrequencyCross-Validation
WorkMethodsFrequencyDataVisualization
WorkMethodsFrequencyDecisionTrees
WorkMethodsFrequencyEnsembleMethods
WorkMethodsFrequencyEvolutionaryApproaches
WorkMethodsFrequencyGANs
WorkMethodsFrequencyGBM
WorkMethodsFrequencyHMMs
WorkMethodsFrequencyKNN
WorkMethodsFrequencyLiftAnalysis
WorkMethodsFrequencyLogisticRegression
WorkMethodsFrequencyMLN
WorkMethodsFrequencyNaiveBayes
WorkMethodsFrequencyNLP
WorkMethodsFrequencyNeuralNetworks
WorkMethodsFrequencyPCA
WorkMethodsFrequencyPrescriptiveModeling
WorkMethodsFrequencyRandomForests
WorkMethodsFrequencyRecommenderSystems
WorkMethodsFrequencyRNNs
WorkMethodsFrequencySegmentation
WorkMethodsFrequencySimulation
WorkMethodsFrequencySVMs
WorkMethodsFrequencyTextAnalysis
WorkMethodsFrequencyTimeSeriesAnalysis
WorkMethodsFrequencySelect1
WorkMethodsFrequencySelect2
WorkMethodsFrequencySelect3
TimeGatheringData
TimeModelBuilding
TimeProduction
TimeVisualizing
TimeFindingInsights
TimeOtherSelect
AlgorithmUnderstandingLevel
WorkChallengesSelect
WorkChallengeFrequencyPolitics
WorkChallengeFrequencyUnusedResults
WorkChallengeFrequencyUnusefulInstrumenting
WorkChallengeFrequencyDeployment
WorkChallengeFrequencyDirtyData
WorkChallengeFrequencyExplaining
WorkChallengeFrequencyPass
WorkChallengeFrequencyIntegration
WorkChallengeFrequencyTalent
WorkChallengeFrequencyDataFunds
WorkChallengeFrequencyDomainExpertise
WorkChallengeFrequencyML
WorkChallengeFrequencyTools
WorkChallengeFrequencyExpectations
WorkChallengeFrequencyITCoordination
WorkChallengeFrequencyHiringFunds
WorkChallengeFrequencyPrivacy
WorkChallengeFrequencyScaling
WorkChallengeFrequencyEnvironments
WorkChallengeFrequencyClarity
WorkChallengeFrequencyDataAccess
WorkChallengeFrequencyOtherSelect
WorkDataVisualizations
WorkInternalVsExternalTools
WorkMLTeamSeatSelect
WorkDatasets
WorkDatasetsChallenge
WorkDataStorage
WorkDataSharing
WorkDataSourcing
WorkCodeSharing
RemoteWork
CompensationAmount
CompensationCurrency
SalaryChange
JobSatisfaction
JobSearchResource
JobHuntTime
JobFactorLearning
JobFactorSalary
JobFactorOffice
JobFactorLanguages
JobFactorCommute
JobFactorManagement
JobFactorExperienceLevel
JobFactorDepartment
JobFactorTitle
JobFactorCompanyFunding
JobFactorImpact
JobFactorRemote
JobFactorIndustry
JobFactorLeaderReputation
JobFactorDiversity
JobFactorPublishingOpportunity
exchangeRate
AdjustedCompensation

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

You may import the functions stored in the `flatiron_stats.py` file to help perform your hypothesis tests. It contains the stats functions that you previously coded: `welch_t(a,b)`, `welch_df(a, b)`, and `p_value(a, b, two_sided=False)`. 

Note that `scipy.stats.ttest_ind(a, b, equal_var=False)` performs a two-sided Welch's t-test and that p-values derived from two-sided tests are two times the p-values derived from one-sided tests. See the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html) for more information.

In [75]:
df['FormalEducation'].head()

0    Bachelor's degree
1      Master's degree
2      Master's degree
3      Master's degree
4      Doctoral degree
Name: FormalEducation, dtype: object

In [76]:
df['AdjustedCompensation'].head()

0         NaN
1         NaN
2         NaN
3    250000.0
4         NaN
Name: AdjustedCompensation, dtype: float64

In [77]:
import flatiron_stats as fs

In [78]:
#Subset the appropriate data into 2 groups

f1 = 'FormalEducation'
f2 = 'AdjustedCompensation'
f1c1 = "Master's degree"
f1c2 = "Bachelor's degree"

# I think the ~ line here actually EXCLUDES the rows with null values.
# Now that makes sense to me. Good trick to know.

# Here I'm making a new DF (subset) the only includes rows w/o nulls in the Education and Compensation columns

subset = df[(~df['FormalEducation'].isnull()) & (~df['AdjustedCompensation'].isnull())]
s1 = subset[subset['FormalEducation']=="Master's degree"]['AdjustedCompensation'] # This is the income of people with MAs
s2 = subset[subset['FormalEducation']=="Bachelor's degree"]['AdjustedCompensation'] # This is the income of people with BAs

In [79]:
print('Comparison of {} for {} and {}'.format(f2, f1c1, f1c2))
print("Median Values: \ts1: {} \ts2: {}".format(round(s1.median(),2), round(s2.median(),2)))
print("Mean Values: \ts1: {} \ts2: {}".format(round(s1.mean(),2), round(s2.mean(),2)))
print('Sample sizes: \ts1: {} \ts2: {}'.format(len(s1), len(s2)))
print("Welch's t-test p-value:", fs.p_value_welch_ttest(s1, s2))

Comparison of AdjustedCompensation for Master's degree and Bachelor's degree
Median Values: 	s1: 53812.17 	s2: 38399.4
Mean Values: 	s1: 69139.9 	s2: 64887.1
Sample sizes: 	s1: 1990 	s2: 1107
Welch's t-test p-value: 0.33077639451272445

In [80]:
# I should remove outliers to get a more accurate p-value.

In [81]:
print(len(s1))
print(len(s2))

1990
1107

In [82]:
import scipy.stats as stats

# stats.iqr(s1) # Interquartile range. Decided not to use this for now.
# stats.iqr(s2)

In [83]:
import numpy as np

s1 = s1[s1.between(s1.quantile(.0015), s1.quantile(.9985))] # without outliers
s2 = s2[s2.between(s2.quantile(.0015), s2.quantile(.9985))]

print(len(s1))
print(len(s2))

# Notice that 3 outliers were removed from s1, and 4 outliers from s2

1987
1106

In [84]:
print("Welch's t-test p-value with outliers removed:", fs.p_value_welch_ttest(s1, s2))

Welch's t-test p-value with outliers removed: 0.0002173020537343806

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [85]:
# Create a third subset out of people with Doctorates

s3 = subset[subset['FormalEducation']=="Doctoral degree"]['AdjustedCompensation'] # This is the income of people with PhDs
print(len(s3))

967

In [86]:
# Now remove outliers from this subset

s3 = s3[s3.between(s3.quantile(.0015), s3.quantile(.9985))]
print(len(s3))

964

In [87]:
print("Welch's t-test p-value with outliers removed:", fs.p_value_welch_ttest(s1, s3))

# Clearly people with PhDs are expected to earn more than people with BAs!

Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [88]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [101]:
formula = 'AdjustedCompensation ~ C(FormalEducation)'
lm = ols(formula, subset).fit()
table = sm.stats.anova_lm(lm, typ=2)
print(table)

# This is without the outliers removed

                          sum_sq      df         F    PR(>F)
C(FormalEducation)  6.540294e+17     6.0  0.590714  0.738044
Residual            7.999414e+20  4335.0       NaN       NaN

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!